<!DOCTYPE html>
<html>
    <head>
        <title>Личный кабинет <%= n_name %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1 class="h1">Личный кабинет <%= n_name %> <a href="/EditAccount" class="editref">[изменить данные]</a></h1>
            <div class="student_info">
                <p>Класс: <%= user.grade + user.gradeLetter %></p>
                <% if(user.group && user.group.length<5){ %>
                    <p>Группа: <%= user.group %></p>
                <% }else if (!user.isTeacher){ %>
                    <p>Почта: <%= user.group %></p>
                <% } %>
            </div>
            <form class="SearchUI" action= <%= '/account/'+ u_login +'/1/default' %>  method="POST">
                <input id="searcharea" name = "searcharea" rows=1 placeholder="Поиск по задаче"></input>
                <select name="selector" id = "selector">
                    <option value="all" selected>Все посылки</option>
                    <option value="oks" >Только успешные</option>
                </select>
                <button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist'>
                <tr>
                  <th>Дата</th>
                  <th>Задача</th>
                  <th>Вердикт</th>
                  <th>Язык</th>
                  </tr>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% for (var i = 0; i < attempts.length; i++) { %>
                <% var attempt = attempts[i]; %>
                <% var task = tasks[i]; %>

                <% var item = attempt.result.find(el => el[2]=="er"); %>
                <% if(!item) { %>
                <% item = attempt.result[attempt.result.length - 1]; %>
                <% }%>
                <% if(!item || item[0]=='') item = ["🍃","Sheet happens", "ok"]; %>
                <% var maxDate = new Date(Number(attempt.date) +3*60*60*1000); %>
                <% var isoDate = maxDate.toISOString(); %>
                <% var date = isoDate.substr(0, 10) + " " + isoDate.substr(11, 8) ; %>
                 <tr>
                  <td> <a class="tlrefs" href=<%="/attempt/" + u_login + '/' +  attempt.date  %>> <%= date %> </a> </td>
                  <% if(task.identificator.split('_')[0]==0){ %>
                    <td> <a class="tlrefs" href=<%="/task/page/" + task.identificator %>> <%= task.title %> </a> </td>
                  <%}else{ %>
                    <td> <a class="tlrefs" href=<%="/tournament/task/page/" + task.identificator.split('_')[0] + '/' + task.identificator %>> <%= task.title %> </a> </td>
                  <% } %>
                  <td><%= item[0] %> <a id=<%= item[2] %>><%= item[1] %></a></td>
                  <td><%= attempt.language || 'Pascal' %></td>
                 </tr>
                <% } %>
                </table>

            <div class='pageinfo'>
                <div class="pageRefs"><%= pageInfo %></div>
                    <div class="pageRefs">
                    <% for(let i=0; i < pages; i++){ %>
                        <% if(i+1==page){ %>
                            <a class="tablerefs" style="font-size: 23px;font-weight:900;"><%= i+1 %></a>
                        <% }else{ %>
                                <a class="tablerefs" style="font-size: 20px;" href=<%=`/account/${u_login}/${i+1}/${search}`%>><%= i+1 %></a>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
</html>