<!DOCTYPE html>
<html>
    <head>
        <title>Добавление задачи</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        </head>
    <body>
        <main>

        <form action=<%='/tournament/task/add/' + tournament.identificator %>  method="POST">
            <div class="taskAdderForm">
                <h3>Название задачи</h3>
                <textarea id="title" name = "title" required cols=2 placeholder="Введите название"></textarea>
                <br>

                <h3>Условие</h3>
                <textarea id="statementinput" name = "statement" required cols=2 rows=10 placeholder="Введите условиe"></textarea>
                <h3>Входные данные</h3>
                <textarea id="inputDescription" name="input" required cols=2 rows=10 placeholder="Введите описание входных данных"></textarea>
                <h3>Выходные данные</h3>
                <textarea id="outputDescription" name="output" required cols=2 rows=10 placeholder="Введите описание выходных данных"></textarea>
                <br>

                <h3>Примеры</h3>
                <%for (var i =0; i < 5; i++){  %>
                    <textarea id=<%= "exampleIn" +i %> name = <%= "exampleIn" +i %>  cols=1 rows=3 placeholder="Пример <%=i+1%> INPUT"></textarea>
                    <textarea id=<%= "exampleOut" +i %> name = <%= "exampleOut" +i %>  cols=1 rows=3 placeholder="Пример <%=i+1%> OUTPUT"></textarea>
                    <% if (i!=4){ %>
                    <br>
                    <% } %>
                <% } %>
                <br>

                <h3>Тесты</h3>
                <%for (var i =0; i < 20; i++){  %>
                    <h4>Тест <%= i+1 %></h4>
                    <textarea id=<%= "testIn" +i %> name = <%= "testIn" + i %>  cols=1 rows=3 placeholder="Тест <%=i+1%> INPUT"></textarea>
                    <textarea id=<%= "testOut" +i %> name = <%= "testOut" + i %>  cols=1 rows=3 placeholder="Тест <%=i+1%> OUTPUT"></textarea>
                    <br>
                <% } %>
            </div>
            <button class="SaveChanges">Добавить задачу</button>
        </form>
    </main>
    </body>
</html>