<!DOCTYPE html>
<html>
    <head>
        <title>Удаление задачи <%= problem.identificator %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        </head>
    <body>
        <main>

        <form action=<%= '/deletetask/'+problem.identificator %>  method="POST">
                <div>Вы уверены, что хотите удалить задачу <%= problem.identificator %> "<%= problem.title %>" ?</div>
                <button id="submit3"  onClick='location.href="/"'>Удалить</button>
        </form>
        <button id="submit4" onClick=<%= 'location.href=\"/task/'+problem.identificator+"\"" %>>Отмена</button>
    </main>
    </body>
</html>