<!DOCTYPE html>
<html>
    <head>
        <title>Редактирование урока</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        </head>
    <body>
        <main>

        <form action=<%= '/editlesson/'+lesson.identificator %>  method="POST">
            <div class="lessonAdderForm">
                <h3 class="h3">Название урока</h3>
                <textarea id="title" name = "title" required placeholder="Введите название"><%=lesson.title%></textarea>
                <h3 class="h3">Класс <input id="grade" name = "grade" value=<%=lesson.grade%> required></h3>
                <h3 class="h3">Описание</h3>
                <textarea id="description" name = "description" placeholder="Введите описание"><%=lesson.description%></textarea>
                <h3 class="h3">Задачи</h3>
                <textarea id="tasks" name = "tasks"  required placeholder="Введите номера задач через пробел"><%=lesson.tasks.join(' ')%></textarea>
                <button id="submit2">Сохранить урок</button>
            </div>
        </form>
    </main>
    </body>
</html>