<!DOCTYPE html>
<html>
    <head>
        <title>Редактирование задачи</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        </head>
    <body>
        <main>

        <form action=<%= '/task/edit/'+problem.identificator %>  method="POST" enctype="multipart/form-data">
            <div class="taskAdderForm">
                <h3 class="h3">Название задачи</h3>
                <textarea id="title" name = "title" required cols=2 placeholder="Введите название"><%= problem.title %></textarea>
                <h3 class="h3">Тема</h3>
                <textarea id="topic" name = "topic"  cols=2 placeholder="Введите тему" required><%= problem.topic %></textarea>
                <h3 class="h3">Класс <input id="grade" name = "grade" value=<%= problem.grade %> required></h3>
                <br>

                <h3 class="h3">Условие</h3>
                <textarea id="statementinput" name = "statement" required cols=2 rows=10 placeholder="Введите условиe"><%= problem.statement %></textarea>
                <h3 class="h3">Входные данные</h3>
                <textarea id="inputDescription" name = "input" required cols=2 rows=10 placeholder="Введите описание входных данных"><%= problem.input %></textarea>
                <h3 class="h3">Выходные данные</h3>
                <textarea id="outputDescription" name = "output" required cols=2 rows=10 placeholder="Введите описание выходных данных"><%= problem.output %></textarea>
                <br>

                <h3 class="h3">Подсказка (опционально)</h3>
                <% if (!problem.hint.doesExist){ %>
                <textarea id="hintinput" name = "hint" cols=2 rows=10 placeholder="Введите подсказку"></textarea>
                <h3 class="h3">Показывать подсказку через <input id="grade" name = "attemptsForHint" > </input>попыток</h3>
                <% } else {%>
                <textarea id="hintinput" name = "hint" cols=2 rows=10 placeholder="Введите подсказку"><%= problem.hint.text %></textarea>
                <h3 class="h3">Показывать подсказку через <input id="grade" name = "attemptsForHint" value =<%= problem.hint.attemptsForHint %> > </input>попыток</h3>
                <% }%>
                <br>

                <h3 class="h3">Примеры</h3>
                <% var len = problem.examples.length %>
                <%for (var i =0; i < 5; i++){  %>
                    <% if (i<len){ %>
                        <textarea id=<%= "exampleIn" +i %> name = <%= "exampleIn" +i %>  cols=1 rows=3 placeholder="Пример <%=i+1%> INPUT"><%= problem.examples[i][0] %></textarea>
                        <textarea id=<%= "exampleOut" +i %> name = <%= "exampleOut" +i %>  cols=1 rows=3 placeholder="Пример <%=i+1%> OUTPUT"><%= problem.examples[i][1] %></textarea>
                    <% } else { %>
                        <textarea id=<%= "exampleIn" +i %> name = <%= "exampleIn" +i %>  cols=1 rows=3 placeholder="Пример <%=i+1%> INPUT"></textarea>
                        <textarea id=<%= "exampleOut" +i %> name = <%= "exampleOut" +i %>  cols=1 rows=3 placeholder="Пример <%=i+1%> OUTPUT"></textarea>
                    <% } %>
                    <% if (i!=4){ %>
                    <br>
                    <% } %>
                <% } %>
                <br>

                <h3 class="h3">Передать тесты архивом</h3>
                <label class="switch">
                    <input type="checkbox" id="checker" onclick="check();">
                    <span class="slider round"></span>
                </label>
                <br>
                <div id="manual" style="display: contents;">
                    <% var len = problem.tests.length %>
                    <%for (var i =0; i < 20; i++){  %>
                        <h4>Тест <%= i+1 %></h4>
                        <% if (i<len){ %>
                            <textarea id=<%= "testIn" +i %> name = <%= "testIn" + i %>  cols=1 rows=3 placeholder="Тест <%=i+1%> INPUT"><%= problem.tests[i][0] %></textarea>
                            <textarea id=<%= "testOut" +i %> name = <%= "testOut" + i %>  cols=1 rows=3 placeholder="Тест <%=i+1%> OUTPUT"><%= problem.tests[i][1] %></textarea>
                        <% } else { %>
                            <textarea id=<%= "testIn" +i %> name = <%= "testIn" + i %>  cols=1 rows=3 placeholder="Тест <%=i+1%> INPUT"></textarea>
                            <textarea id=<%= "testOut" +i %> name = <%= "testOut" + i %>  cols=1 rows=3 placeholder="Тест <%=i+1%> OUTPUT"></textarea>
                        <% } %>
                    <% } %>
                </div>
                <div id="archive" class="fileChooser">
                    Выберете архив
                </div>
                <input type="file" name="file" id="testsarchive" style="visibility: hidden;" accept=".zip">
            </div>
            <button class="SaveChanges">Сохранить изменения</button>
        </form>
    </main>
    </body>
    <script>
        let archive = document.getElementById("archive");
        let manual = document.getElementById("manual");
        console.log(manual.style.display);
        let checker = document.getElementById("checker");
        archive.style = "display: none";
        function check(){
            if (checker.checked){
                manual.style.display = "none";
                archive.style.display = "block";
            }else{
                manual.style.display = "contents";
                archive.style.display = "none";
            }
        }
        let inputFile = document.getElementById("testsarchive");
        archive.ondragover = archive.ondragenter = (evt) => {
            evt.preventDefault();
        }
        archive.ondrop = (evt)=>{
            inputFile.files = evt.dataTransfer.files;
            archive.innerHTML = inputFile.files[0].name;
            evt.preventDefault();
        }
        archive.onclick = ()=>{
            inputFile.click();
        }
        inputFile.addEventListener("change", ()=>{
            archive.innerHTML = inputFile.files[0].name
        }, false)
    </script>
</html>