<!DOCTYPE html>
<html>
    <head>
        <title>Урок #<%= ID %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
        <h2><%= u_name %></h2>
        <div id="task">
            <H1 id="taskname"><%= lesson.title; %></H1>
            <div style="text-align: center;margin: 10px;">
                <% if(isTeacher){ %> <a id="editref" href=<%= "/editlesson/" + lesson.identificator %> > [Редактировать] </a>
                    <span class="lessonPopup">
                        <dialog  id='dialog'>
                            <form action= <%="/deletelesson/" + lesson.identificator %>  method="POST">
                                Вы действительно хотите удалить урок "<%= lesson.title %>" ?
                                <button>Да</button>
                            </form>
                            <button onClick='c();'>Назад</button>
                        </dialog>
                    <button onClick='o();' class="show" >[Удалить]</button>
                    </span>
                <% } %>
            </div>
            <h4>Автор: <%= lesson.author %></h4>
            <div style="margin-left: 20px;" id="statement"><%= lesson.description %></div>
            </div>

        <table class='taskslist'>
            <tr>
              <th>ID</th>
              <th>Задача</th>
              <th>Тема</th>
              <th>Класс</th>
              <th>Автор</th>
              <th>Вердикт</th>
              <th>История</th>
              </tr>

            <% for (var i = 0; i < lesson.tasks.length; i++) { %>
            <% var task = tasks[i]
            if (task) { %>
             <tr>
              <!--<td><%= parseInt(task.identificator.split('_')[1]) %></td>-->
              <td><%= i+1 %></td>
              <td> <a class="tlrefs" href=<%="/task/page/" + task.identificator %>> <%= task.title %> </a> </td>
              <td><%= task.topic %></td>
              <td><%= task.grade %></td>
              <td><%= task.author %></td>
              <td><%= results[i] %></td>
              <td><a class="tlrefs" href=<%="/account/" + u_login + "/1/" + task.title.replace(' ','%20') + "&all" %> >[все попытки]</a></td>
             </tr>
            <% }} %>
        </table>
    </main>
    </body>
    <script type = text/javascript>
        function o() {
            document.getElementById('dialog').showModal();
        }
        function c() {
            document.getElementById('dialog').close();
        }
    </script>
</html>