<!DOCTYPE html>
<html>
    <head>
        <title>Урок #<%= ID %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
        <h2><%= u_name %></h2>
        <div id="task">
            <H1 id="taskname"><%= lesson.title; %></H1>
            <div style="text-align: center;margin: 10px;">
                <% if(isTeacher){ %>
                    <a id="editref" class="editref" href=<%= "/lessonresults/" + lesson.identificator + "/default&all&all&all" %> >[Таблица]</a>
                    <a id="editref" class="editref" href=<%= "/editlesson/" + lesson.identificator %> >[Редактировать]</a>
                    <span class="lessonPopup">
                        <dialog  id='dialog'>
                            <form action= <%="/deletelesson/" + lesson.identificator %>  method="POST">
                                Вы действительно хотите удалить урок "<%= lesson.title %>" ?
                                <button>Да</button>
                            </form>
                            <button onClick='c();'>Назад</button>
                        </dialog>
                    <button onClick='o();' class="show" >[Удалить]</button>
                    </span>
                <% } %>
            </div>
            <h4 class="h4">Автор: <%= lesson.author %></h4>
            <div style="margin-left: 20px;" id="statement"><%= lesson.description %></div>
            </div>
        <div id="table"></div>
    </main>
    </body>
    <script type = text/javascript>
        let min = (a, b) => {if(a>b)return b;return a;};
        function update(ids) {
            let text;
            if(ids.length != 0){
                fetch("/api/task/get/testverdicts/"+ids).then(response=>response.json()).then(response => {
                    text = "<table class='taskslist'>\n<tr>\n<th>ID</th>\n<th>Задача</th>\n<th>Тема</th>\n<th>Класс</th>\n<th>Автор</th>\n<th>Вердикт</th>\n<th>История</th>\n</tr>";
                    let tasks = response.tasks;
                    let verdicts = response.verdicts;
                    for(let i=0; i<min(tasks.length, verdicts.length); i++){
                        text+=`\n<tr>\n<td>${i+1}</td>\n<td><a class="tlrefs" href="/task/page/${tasks[i].identificator}">${tasks[i].title}</a></td>\n<td>${tasks[i].topic}</td>\n<td>${tasks[i].grade}</td>\n<td>${tasks[i].author}</td>\n<td>${verdicts[i]}</td>\n<td><a class="tlrefs" href="/account/<%= u_login %>/1/${tasks[i].title.replace(' ','%20')}&all">[все попытки]</a></td>\n</tr>`;
                    }
                    text+="\n</table>";
                    resultsarea.innerHTML = text;
                }).catch(err => console.log(err));
            }
        }
        let resultsarea = document.getElementById("table");
        let ids = "<%= foundTasks %>";
        update(ids);
        setInterval(() => {
            update(ids);
        }, 2000);
    </script>
    <script type = text/javascript>
        function o() {
            document.getElementById('dialog').showModal();
        }
        function c() {
            document.getElementById('dialog').close();
        }
    </script>
</html>