<!DOCTYPE html>
<html>
    <head>
        <title>Уроки <%= n_name %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Уроки <%= n_name %></h1>
            <a class="editref addhref" style="background-color: rgba(255, 35, 35, 0.692); padding: 10px; font-size: 1.5rem; font-weight:bolder"" href="/quizzes">Контрольные</a>
            <% if (isTeacher){ %>
                <a class="tlrefs" href="/addlesson">[Добавить урок]</a>
            <% } %>

            <form class="SearchUI" action= <%= '/lessons/'+ u_login +'/1/default' %>  method="POST">
                <input name = "searcharea" rows=1 placeholder="Поиск урока"></input>
                <% if(isTeacher){ %>
                    <select name="GradeSelector" id = "GradeSelector">
                        <option value="all" selected>Все</option>
                        <% for(var i = 1; i < 12; i++) { %>
                        <option value=<%= i %> ><%= i %></option>
                        <% } %>
                    </select>
                <% } %>
                <select name="SortByNew">
                    <option value="false" >Сначала старые</option>
                    <option value="true" selected>Сначала новые</option>
                </select>
                <select name="Author">
                    <option value="all" selected>Все авторы</option>
                    <% for(var i=0; i < teachers.length; i++) { %>
                        <option value=<%= teachers[i].replace(/ /g, "%20") %> ><%= teachers[i] %></option>
                    <% } %>
                </select>
                <button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist' id="table"></table>

                <div class='pageinfo'>
                    <div class="pageRefs">
                        <%= pageInfo %>
                    </div>
                    <div class="pageRefs">
                        <% for(let i=0; i < pages; i++){ %>
                            <% if(i+1==page){ %>
                                <a class="tablerefs" style="font-size: 23px;font-weight:900;"><%= i+1 %></a>
                            <% }else{ %>
                                <a class="tablerefs" style="font-size: 20px;"href=<%=`/lessons/${u_login}/${i+1}/${search}`%>><%= i+1 %></a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
        </main>
    </body>
    <script>
        let min = (a, b) => {if(a>b)return b;return a;};
        function update(ids) {
            fetch("/api/cringe/get/verdicts/"+ids+"/lessons").then(response=>response.json()).then(response => {
                let text = "<tr>\n<th>ID</th>\n<th>Урок</th>\n<th>Класс</th>\n<th>Автор</th>\n<th>Вердикт</th>\n</tr>";
                let lessons = response.objects;
                let verdicts = response.verdicts;
                for(let i = 0; i < min(lessons.length, verdicts.length); i++){
                    let authorArray = lessons[i].author.split(' ');
                    let author = authorArray[0];
                    for(let i = 1; i < authorArray.length; i++){
                        if(authorArray[i].length!=0){
                            author += ' '+ authorArray[i][0]+'.';
                        }
                    }
                    text+=`\n<tr>\n<td>${parseInt(lessons[i].identificator)+1}</td>\n<td><a class="tlrefs" href="/lesson/<%= login %>/${lessons[i].identificator}">${lessons[i].title}</a></td>\n<td>${lessons[i].grade}</td>\n<td>${author}</td>\n<td>${verdicts[i]}</td>\n</tr>`
                }
                resultsarea.innerHTML = text;
            }).catch(err => console.log(err));
        }
        let resultsarea = document.getElementById("table");
        let ids = "<%= ids %>"
        update(ids);
        setInterval(() => {
            update(ids);
        }, 5000);
    </script>
</html>