<!DOCTYPE html>
<html>
    <head>
        <title>Уроки <%= n_name %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Уроки <%= n_name %></h1>
            <div></div>
            <% if (isTeacher){ %>
                <a class="tlrefs addhref" href="/addlesson">[Добавить урок]</a>
            <% } %>
            <form class="SearchUI" action= <%= '/lessons/'+ u_login +'/1/default' %>  method="POST">
                <input name = "searcharea" rows=1 placeholder="Поиск урока"></input>
                <% if(isTeacher){ %>
                    <select name="GradeSelector" id = "GradeSelector">
                        <option value="all" selected>Все</option>
                        <% for(var i = 6; i < 12; i++) { %>
                        <option value=<%= i %> ><%= i %></option>
                        <% } %>
                    </select>
                <% } %>
                <select name="SortByNew">
                    <option value="false" >Сначала старые</option>
                    <option value="true" selected>Сначала новые</option>
                </select>
                <select name="Author">
                    <option value="all" selected>Все авторы</option>
                    <% for(var i=0; i < teachers.length; i++) { %>
                        <option value=<%= teachers[i].replace(/ /g, "%20") %> ><%= teachers[i] %></option>
                    <% } %>
                </select>
                <button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist'>
                <tr>
                  <th>ID</th>
                  <th>Урок</th>
                  <th>Класс</th>
                  <th>Автор</th>
                  <th>Вердикт</th>
                  </tr>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% max = function(a,b){ if(a < b) return b; return a} %>
                <% var onPage = 20 %>
                <% if(lessons.length>0){ if(lessons[0].identificator!=0){ lessons.unshift([0]);results.unshift([0]) } } %>
                <% for (var i = (page-1)*onPage+1; i < min(page*onPage+1,lessons.length); i++) { %>
                <% var lesson = lessons[i]; %>
                 <tr>

                  <td><%= i %></td>
                  <td> <a class="tlrefs" href=<%="/lesson/"+ u_login + "/" + lesson.identificator %>> <%= lesson.title %> </a> </td>
                  <td><%= lesson.grade %></td>
                  <td><%= lesson.author %></td>
                  <td><%= results[i] %></td>
                 </tr>
                <% } %>
                </table>

                <% var page = Number(page) %>
                <% var prevPage = page - 1 %>
                <% var nextPage = page + 1 %>

                <div class='pageinfo'>
                <div><%= ((page-1)*onPage+1).toString() + " - " +  min(page*onPage,max(0, lessons.length-1)).toString() + " из " +  max(0, lessons.length-1).toString() %> </div>

                <% if(page>1) { %>
                    <button onClick=<%= 'location.href=\"/lessons/'+ u_login + "/" +prevPage + "/" + search + "\"" %>>&lt;&lt;&lt;</button>
                <% }else { %>
                    <button>&lt;&lt;&lt;</button>
                <% } %>
                <% if(page*onPage<lessons.length-1) { %>
                    <button onClick=<%= 'location.href=\"/lessons/'+ u_login + "/" +nextPage + "/" + search + "\"" %>>&gt;&gt;&gt;</button>
                <% }else { %>
                    <button>&gt;&gt;&gt;</button>
                <% } %>
                </div>
        </main>
    </body>
</html>