<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        </head>
    <body>
        <main>
        <% if(name && name.slice(0,5).toUpperCase() == "БАГИН" ) { %>
            <h1 style="background-image: url(../public/media/asdf.hg); background-size: 100px;">Добро пожаловать, <img style="transform: scale(2)" src="../public/media/thdk.ng"> <%= name  %>!<img style="transform: scale(2)" src="../public/media/thdk.ng"></h1>
        <% } else{  %>
            <h1>Добро пожаловать, <%= name || "незнакомец" %>!</h1>
        <% } %>
        <% if (isTeacher){ %>
            <a style="margin-left: 10px;" class="tlrefs" href="/addnews">[Добавить новость]</a>
        <% } %>
        <br>
        <% for(var i = news.length -1 ; i >=0; i--){ %>
        <div class="news">
            <% var maxDate = new Date(Number(news[i].date)); %>
            <% var isoDate = maxDate.toISOString(); %>
            <% var date = isoDate.substr(0, 10) ; %>
            <h2><%= news[i].title %></h2>
            <span class="date"> <%= date %> </span>
            <%= news[i].text %>
            <% if(news[i].reference!="") { %>
                <a href=<%= news[i].reference %>>Ссылка</a>
            <% }%>
            <% if (isTeacher){ %>
                <a id="editref" href=<%="/editnews/" + news[i].identificator %>>[редактировать]</a>

                <span class="newsPopup">
                <dialog  id='dialog'>
                <form action= <%="/deletenews/" + news[i].identificator %>  method="POST">
                    Вы действительно хотите удалить новость "<%= news[i].title %>" ?
                    <button>Да</button>
                  </form> 
                  <button onClick='c();'>Назад</button>
                </dialog>
              <button onClick='o();' class="show" >[удалить]</button>
              </span>

            <% } %>
        </div>
        <% }%>
        </main>
    </body>
    <script type = text/javascript>
        function o() {
            document.getElementById('dialog').showModal();
        }
        function c() {
            document.getElementById('dialog').close();
        }
    </script>
</html>