<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        </head>
    <body>
        <main>
        <h1>Добро пожаловать, <%= name || "незнакомец" %>!</h1>
        <% if (isTeacher){ %>
        <a class="tlrefs" href="/addnews">[Добавить новость]</a>
        <% } %>
        <br>
        <% for(var i = news.length -1 ; i >=0; i--){ %>
        <div class="news">
            <% var maxDate = new Date(Number(news[i].date)); %>
            <% var isoDate = maxDate.toISOString(); %>   
            <% var date = isoDate.substr(0, 10) ; %>
            <h2><%= news[i].title %></h2>
            <span class="date"> <%= date %> </span>
            <%= news[i].text %>
            <% if(news[i].reference!="") { %>
                <a href=<%= news[i].reference %>>Ссылка</a>
            <% }%>
            <% if (isTeacher){ %>
                <a id="editref" href=<%="/editnews/" + news[i].identificator %>>[редактировать]</a>
                <a id="editref" href=<%="/deletenews/" + news[i].identificator %>>[удалить]</a>
            <% } %>
        </div>
        <% }%>
        </main>
    </body>
</html>