<!DOCTYPE html>
<html>
    <head>
        <title>Задачи</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Задачи</h1>
            <% if (isTeacher){ %>
                <a class="tlrefs addhref" href="/task/add">[Добавить задачу]</a>
            <% } %>
            <form class="SearchUI" action= '/tasks/1/default'  method="POST">
                <input name = "searcharea" rows=1 placeholder="Поиск задачи"></input>
                <select name="TopicSelector">
                    <option value="all" selected> Все Темы</option>
                    <% for(var i = 0; i < topics.length; i++) { %>
                        <option value=<%= topics[i].split(" ").join("") %> > <%= topics[i] %></option>
                    <% } %>
                </select>
                <select name="GradeSelector">
                    <option value="all" selected>Все</option>
                    <% for(var i = 6; i < 12; i++) { %>
                    <option value=<%= i %> ><%= i %></option>
                    <% } %>
                </select>
                <select name="SortByNew">
                    <option value="false" selected>Сначала старые</option>
                    <option value="true">Сначала новые</option>
                </select>
                <select name="Author">
                    <option value="all" selected>Все авторы</option>
                    <% for(var i=0; i < teachers.length; i++) { %>
                        <option value=<%=teachers[i].replace(/ /g, "%20" ) %> ><%= teachers[i] %>
                        </option>
                        <% } %>
                </select>
                <button>Найти</button>
            </form>
            <table class='taskslist' id="table"></table>

            <div id="pages" style="width: 80%; margin-top: 30px; margin-bottom: 30px; margin-left: auto; margin-right: auto; display: flex; justify-content: center; gap: 10px;">
                <% for(let i=0; i<pages; i++){ %>
                    <% if(i+1==page){ %>
                        <a style="text-decoration: none;"><%= i+1 %></a>
                    <% }else{ %>
                        <a href="/tasks/<%= i+1 %>/default&all&all&false&all"><%= i+1 %></a>
                    <% } %>
                <% } %>
            </div>
        </main>
    </body>
    <script type = text/javascript>
        let min = (a, b) => {if(a>b)return b;return a;};
        function update(ids) {
            fetch("/api/tasks/gettestverdicts/"+ids).then(response=>response.json()).then(response => {
                let text = "<tr>\n<th>ID</th>\n<th>Задача</th>\n<th>Тема</th>\n<th>Класс</th>\n<th>Автор</th>\n<th>Вердикт</th>\n</tr>";
                let tasks = response.tasks;
                let verdicts = response.verdicts;
                for(let i=0; i<min(tasks.length, verdicts.length); i++){
                    text+=`\n<tr>\n<td>${parseInt(tasks[i].identificator.split('_')[1])+1}</td>\n<td>${tasks[i].title}</td>\n<td>${tasks[i].topic}</td>\n<td>${tasks[i].grade}</td>\n<td>${tasks[i].author}</td>\n<td>${verdicts[i]}</td>\n</tr>`
                }
                resultsarea.innerHTML = text;
            }).catch(err => console.log(err));
        }
        let resultsarea = document.getElementById("table");
        let ids = "<%= foundTasks %>"
        update(ids);
        setInterval(() => {
            update(ids);
        }, 2000);
    </script>
</html>