<!DOCTYPE html>
<html>
    <head>
        <title>Задачи</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Задачи</h1>
            <% if (isTeacher){ %>
                <a class="tlrefs addhref" href="/addtask">[Добавить задачу]</a>
            <% } %>
            <form class="SearchUI" action= '/tasks/1/default'  method="POST">
                <input name = "searcharea" rows=1 placeholder="Поиск задачи"></input>
                <select name="TopicSelector">
                    <option value="all" selected> Все Темы</option>
                    <% for(var i = 0; i < topics.length; i++) { %>
                        <option value=<%= topics[i].split(" ").join("") %> > <%= topics[i] %></option>
                    <% } %>
                </select>
                <select name="GradeSelector">
                    <option value="all" selected>Все</option>
                    <% for(var i = 6; i < 12; i++) { %>
                    <option value=<%= i %> ><%= i %></option>
                    <% } %>
                </select>
                <select name="SortByNew">
                    <option value="false" selected>Сначала старые</option>
                    <option value="true">Сначала новые</option>
                </select>
                <select name="Author">
                    <option value="all" selected>Все авторы</option>
                    <% for(var i=0; i < teachers.length; i++) { %>
                        <option value=<%=teachers[i].replace(/ /g, "%20" ) %> ><%= teachers[i] %>
                        </option>
                        <% } %>
                </select>
                <button>Найти</button>
            </form>
            <table class='taskslist'>
                <tr>
                  <th>ID</th>
                  <th>Задача</th>
                  <th>Тема</th>
                  <th>Класс</th>
                  <th>Автор</th>
                  <th>Вердикт</th>
                  </tr>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% var onPage = 20 %>
                <% if(tasks.length>0){ if(tasks[0].identificator!=0){ tasks.unshift([0]);results.unshift([0]) } } %>
                <% for (var i = (page-1)*onPage+1; i < min(page*onPage+1,tasks.length); i++) { %>
                <% var task = tasks[i]; %>
                 <tr>
                  <td><%= parseInt(task.identificator.split('_')[1])+ 1 %></td>
                  <td> <a class="tlrefs" href=<%="/task/" + task.identificator %>> <%= task.title %> </a> </td>
                  <td><%= task.topic %></td>
                  <td><%= task.grade %></td>
                  <td><%= task.author %></td>
                  <td><%= results[i] %></td>
                 </tr>
                <% } %>
            </table>

                <% var page = Number(page) %>
                <% var prevPage = page - 1 %>
                <% var nextPage = page + 1 %>

                <div class='pageinfo'>
                <div><%= ((page-1)*onPage+1).toString() + "-" +  min(page*onPage,tasks.length-1).toString() + " из " +  (tasks.length-1).toString() %> </div>

                <% if(page>1) { %>
                    <button onClick=<%= 'location.href=\"/tasks/'+prevPage + "/" + search + "\"" %>>&lt;&lt;&lt;</button>
                <% }else { %>
                    <button>&lt;&lt;&lt;</button>
                <% } %>
                <% if(page*onPage<tasks.length-1) { %>
                    <button onClick=<%= 'location.href=\"/tasks/'+nextPage + "/" + search + "\"" %>>&gt;&gt;&gt;</button>
                <% }else { %>
                    <button>&gt;&gt;&gt;</button>
                <% } %>
                </div>
        </main>
    </body>
</html>