<!DOCTYPE html>
<html>
    <head>
        <title>Task <%= ID %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/style.css" type="text/css">
        </head>
    <body>

        <%- include ('blocks/navigation.ejs') -%>

        <%= name %>

        <form action='/task/<%= ID %>'  method="POST">
            <div class="container">
                <div>
                    <textarea type="code" id="code" name = "code" required cols=30 rows=30 placeholder="Place code here"></textarea>
                </div>
                <button id="submit">Send</button>
                <div>
                    <div  id="result" name="result">
                        <ul>
                            <% RESULT.forEach(function(item){ %>
                                <li><%= item[0] %> <a id=<%= item[2] %>><%= item[1] %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </form>

    </body>
</html>