<!DOCTYPE html>
<html>
    <head>
        <title>Задача <%= parseInt(ID.split('_')[1])+1 %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        </head>
    <body>
        <main>
        <div id="task">
        <H1 id="taskname"><%= problem.title %></H1>
        <div style="text-align: center; margin: 20px;">
            <% if(isTeacher){ %>
                <a id="editref" href=<%= "/task/edit/" + problem.identificator %> > [Редактировать] </a>
                <span class="taskPopup">
                    <dialog  id='dialog_delete'>
                    <form action= <%="/task/delete/" + problem.identificator %>  method="POST">
                        Вы действительно хотите удалить задачу "<%= problem.title %>" ?
                        <button>Да</button>
                    </form>
                    <button onClick='c_delete();'>Назад</button>
                    </dialog>
                <button onClick='o_delete();' class="show" >[Удалить]</button>
                </span>
            <% } %>
        </div>
        <h4>Тема: <%= problem.topic %>         Автор: <%= problem.author %></h4><!-- скрывать тему на турнире -->
        <div class="statement">
            <%= problem.statement %>
            <h5>Входные данные</h5>
            <%= problem.input %>
            <h5>Выходные данные</h5>
            <%= problem.output %>
        </div>
        <% if(problem.hint.doesExist && showHint) { %>
            <button id="HintButton" onclick="ShowHideHint()">Показать/скрыть подсказку</button>
        <% } %>
        <div class="statement" id="hint"><%= problem.hint.text %></div>
        </div>
        <table id="examples" class='taskslist'>
            <tr>
              <th>Example Input</th>
              <th>Example Output</th>
              </tr>
            <% for (var i = 0; i < problem.examples.length; i++) { %>
            <% var example = problem.examples[i]; %>
             <tr>
              <td><%= example[0] %></td>
              <td><%= example[1] %></td>
             </tr>
            <% } %>
        </table>


        <form action='/task/<%= ID %>'  method="POST">
            <div class="container">

                <select name="languageSelector" id = "languageSelector">
                    <option value="Pascal" <% if (!language || language=="Pascal"){%> selected <%}%>>Pascal ABC.NET</option>
                    <option value="Python" <% if (language=="Python"){%> selected <%}%>>Python 3.8</option>
                    <option value="PyPy" <% if (language=="PyPy"){%> selected <%}%>>PyPy 3.7</option>
                    <option value="Cpp" <% if (language=="Cpp"){%> selected <%}%>>C++20</option>
                    <option value="Java" <% if (language=="Java"){%> selected <%}%>>Java 16</option>
                </select>

                    <div class="imgs">
                        <img src="\public\media\TopLeft.svg">
                        <img src="\public\media\TopRight.svg">
                    </div>
                    <textarea class="taskarea" id="code" name = "code" required placeholder="Place code here"><%= prevCode %></textarea>
                    <div class="taskarea"  id="result" name="result" >
                        <ul>
                            <% RESULT.forEach(function(item){ %>
                                <li><%= item[0] %> <a id=<%= item[2] %>><%= item[1] %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="imgsbottom">
                        <img src="\public\media\BottomLeft.svg">
                        <img src="\public\media\BottomRight.svg">
                    </div>
            </div>
            <div id="submitdiv">
                <button id="submit">Отправить</button>
            </div>

        </form>

    </main>
    </body>
    <script type = text/javascript>
        function o_delete() {
            document.getElementById('dialog_delete').showModal();
        }
        function c_delete() {
            document.getElementById('dialog_delete').close();
        }
        document.getElementById("hint").style.display = "none";
        function ShowHideHint() {
            var x = document.getElementById("hint");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</html>