<!DOCTYPE html>
<html>
    <head>
        <title>Посылки турнира</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Посылки турнира "<%= title %>"</h1>
            <form class="SearchUI" action= <%= `/tournament/attempts/${tourID}/1/all&all&all&true` %>  method="POST">
                <input name="loginSearch" rows=1 type="text" placeholder="Поиск по логину">
                <input name="taskSearch" rows=1 placeholder="Поиск по ID задачи">
                <select name="selector" id = "selector">
                    <option value="all" selected>Все посылки</option>
                    <option value="ok" >Только успешные</option>
                </select>
                <select name="selector_new" id = "selector">
                    <option value="true" selected>Сначала новые</option>
                    <option value="false" >Сначала старые</option>
                </select>
                <button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist'>
                <tr>
                    <th>Login</th>
                    <th>Attempt</th>
                    <th>TaskID</th>
                    <th>Score</th>
                    <th>Дисквалификация</th>
                </tr>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% var onPage = 20 %>
                <% for(let i=(page-1)*onPage; i<min(page*onPage+1,attempts.length); i++){ let task = tasks.find(item => attempts[i].TaskID == item.identificator) %>
                <tr>
                    <td><a href=<%= "/account/"+attempts[i].login+"/1/default&all" %> ><%= attempts[i].login  %></a></td>
                    <td><a href=<%= "/attempt/"+attempts[i].login+"/"+attempts[i].AttemptDate %> >[Посылка]</a></td>
                    <td><a href=<%= "/tournament/task/"+tourID+"/"+tasks[i].identificator %> ><%= parseInt(tasks[i].identificator.split("_")[1])+1 %></a></td>
                    <td><%= attempts[i].score  %></td>
                    <td style="width: 200px;">


                        <span class="disqual">
                            <dialog  id=<%='attempt' + i%>>
                                <form action= <%= `/tournament/disqualAttempt/${tourID}/${attempts[i].AttemptDate}` %>  method="POST">
                                    <p>Вы уверены что хотите дисквалифицировань посылку?</p>
                                    <button>Уверен(а)</button>
                                </form>
                                <button onClick=<%='c(\"attempt' + i + '\");' %>>Отмена</button>
                            </dialog>
                            <button onclick=<%='o(\"attempt'+ i + '\");'%> class="show">Посылка</button>
                            <dialog  id=<%='user' + i%>>
                                <form action= <%= `/tournament/disqualUser/${tourID}/${attempts[i].login}` %>  method="POST">
                                    <p>Вы уверены что хотите дисквалифицировань участника?</p>
                                    <button>Уверен(а)</button>
                                </form>
                                <button onClick=<%='c(\"user' + i + '\");' %> >Отмена</button>
                            </dialog>
                            <button onclick=<%='o(\"user' + i + '\");'%> class="show">Участник</button>
                        </span>


                    </td>
                </tr>
                <% } %>
            </table>

            <% var page = Number(page) %>
            <% var prevPage = page - 1 %>
            <% var nextPage = page + 1 %>

            <div class='pageinfo'>
                <div><%= ((page-1)*onPage+1).toString() + "-" +  min(page*onPage,tasks.length-1).toString() + " из " +  (tasks.length-1).toString() %> </div>

                <% if(page>1) { %>
                    <button onClick=<%= 'location.href=\"/tournament/attempts/'+ tourID + "/" + prevPage + "/" + search + "\"" %>>&lt;&lt;&lt;</button>
                <% }else { %>
                    <button>&lt;&lt;&lt;</button>
                <% } %>
                <% if(page*onPage<tasks.length-1) { %>
                    <button onClick=<%= 'location.href=\"/tournament/attempts/'+tourID + "/" + nextPage + "/" + search + "\"" %>>&gt;&gt;&gt;</button>
                <% }else { %>
                    <button>&gt;&gt;&gt;</button>
                <% } %>
                </div>
        </main>
    </body>
    <script type = text/javascript>
        function o(id) {
            console.log(id);
            document.getElementById(id).showModal();
        }
        function c(id) {
            document.getElementById(id).close();
        }
        </script>
</html>