<!DOCTYPE html>
<html>
    <head>
        <title>Посылки турнира</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Посылки турнира "<%= title %>"</h1>
            <form class="SearchUI" action= <%= `/tournament/attempts/${tourID}/1/all&all&all&true` %>  method="POST">
                <input name="loginSearch" rows=1 type="text" placeholder="Поиск по логину">
                <input name="taskSearch" rows=1 placeholder="Поиск по ID задачи">
                <select name="selector" id = "selector">
                    <option value="all" selected>Все посылки</option>
                    <option value="ok" >Только успешные</option>
                </select>
                <select name="selector_new" id = "selector">
                    <option value="true" selected>Сначала новые</option>
                    <option value="false" >Сначала старые</option>
                </select>
                <button id="submitsearch">Найти</button>
            </form>

            <table class="taskslist" id="table"></table>

            <div class=`pageinfo`>
                <div class="pageRefs"><%= pageInfo %></div>
                <div class="pageRefs">
                    <% for(let i=0; i < pages; i++){ %>
                        <% if(i+1==page){ %>
                            <a class="tablerefs" style="font-size: 23px;font-weight:900;"><%= i+1 %></a>
                        <% }else{ %>
                            <a class="tablerefs" style="font-size: 20px;" href=<%= `/tournament/attempts/${tourID}/${i+1}/${search}`%> ><%= i+1 %></a>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
    <script type=text/javascript>
        let min = (a, b) => {if(a>b)return b;return a;};
        function update(page) {
            fetch("/api/tournament/get/attempts/<%= tourID %>/"+page+"/<%= search %>").then(response=>response.json()).then(response => {
                let attempts = response.attempts;
                let dialogs = "";
                let text = `<tr>\n<th>Login</th>\n<th>Attempt</th>\n<th>TaskID</th>\n<th>Score</th>\n<th>Дисквалификация</th>\n</tr>\n`;
                let attempt, login;
                for(let i = 0; i<attempts.length;i++){
                    attempt = attempts [i];
                    dialogs = `<span class="disqual">\n<dialog id="attempt${i}">\n<form action="/tournament/disqualAttempt/<%=tourID%>/${attempt.AttemptDate}" method="POST">\n<p>Вы уверены что хотите дисквалифицировань посылку?</p>\n<button >Уверен(а)</button>\n</form>\n<button onClick="c(\'attempt${i}\');">Отмена</button></dialog>\n<button onclick="o(\'attempt${i}\');" class="show">Посылка</button>\n<dialog id="user${i}">\n<form action="/tournament/disqualUser/<%=tourID%>/${attempts[i].login}" method="POST">\n<p>Вы уверены что хотите дисквалифицировань участника?</p>\n<button>Уверен(а)</button>\n</form>\n<button onClick="c(\'user${i}\');">Отмена</button>\n</dialog>\n<button onclick="o(\'user${i}\');" class="show">Участник</button>\n</span>`;
                    login = attempt.login;
                    if(login.length > 2 && login.slice(0,2)=="n-"){
                        login = login.slice(2);
                    }

                    text += `<tr>\n`;
                    text += `<td><a class="t_attempts" href="/account/${attempt.login}/1/default&all">${login}</a></td>\n`;
                    text += `<td><a class="t_attempts" href="/attempt/${attempt.login}/${attempt.AttemptDate}">[Посылка]</a></td>\n`;
                    text += `<td><a class="t_attempts" href="/tournament/task/page/<%=tourID%>/${attempt.TaskID}">${parseInt(attempt.TaskID.split("_")[1])+1}</a></td>\n`;
                    text += `<td>${attempt.score}</td>\n`;
                    text += `<td style="width: 200px;">${dialogs}</td>\n`;
                    text += `</tr>\n`;
                }
                resultsarea.innerHTML = text;
            }).catch(err => console.log(err));
        }
        let resultsarea = document.getElementById("table");
        let page = "<%= page %>";
        update(page);
        setInterval(() => {
            update(page);
        }, 5000);
    </script>
    <script type = text/javascript>
        function o(id) {
            let dialog = document.getElementById(id);
            let a = 140;
            if(id[0]=="a"){
                id = id.slice(7);
                a-=80;
            }
            else
                id = id.slice(4);
            id = parseInt(id);
            dialog.showModal();
            dialog.style.marginTop = `${(id+1)*2.8 + 11.5 - 2.8*2}rem`;
            dialog.style.marginLeft = "0px";
            dialog.style.left = `${document.getElementById("table").clientWidth+a}px`;

        }
        function c(id) {
            document.getElementById(id).close();
        }
    </script>
</html>