<!DOCTYPE html>
<html>
    <head>
        <title>Турнир #<%= ID %>
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
                maximum-scale=1.0, minimum-scale=1.0,
                user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
    </head>

    <body>
        <main>
            <h2 style = "top: 1rem">
                <%= u_name %>
            </h2>
            <div id="task">
                <H1 id="taskname"><%= tournament.title; %></H1>
                <div style="text-align: center;">
                    <% if(tournament.mods.find(item => item == login)){ %>
                        <a class="EditButtons" href=<%="/tournament/edit/" + tournament.identificator %> >Редактировать</a>
                        <% if(!tournament.isBegan) { %>
                                <a class="EditButtons" href=<%="/tournament/task/add/" + tournament.identificator %> >Добавить задачу</a>
                                <a class="EditButtons" href=<%="/addparticipant_tt/" + tournament.identificator %> >Добавить участников</a>
                        <% } %>
                        <a class="EditButtons" href=<%= "/tournament/attempts/"+ID+"/1/all&all&all" %> >Посылки</a>
                    <% } %>
                    <a class="EditButtons" href=<%= "/tournament/results/"+tournament.identificator +"/1" %>>Таблица результатов</a>
                </div>
                <h4>Автор: <%= tournament.author %>     Участники: <%= tournament.results.length %> </h4>
                <div style="margin-left: 20px;" id="statement">
                    <%= tournament.description %>
                </div>
            </div>
            <% if(tasks.length!=0){ %>
                <table class='taskslist'>
                    <tr>
                        <th>ID</th>
                        <th>Задача</th>
                        <th>Вердикт</th>
                        <th>История</th>
                    </tr>

                    <% for (var i=0; i < tasks.length; i++) { %>
                        <% let task = tasks[i];
                            if (task) { %>
                            <tr>
                                <td>
                                    <%= parseInt(task.identificator.split('_')[1])+1 %>
                                </td>
                                <td> <a class="tlrefs" href=<%="/tournament/task/"+tournament.identificator  + '/' + task.identificator %>> <%= task.title %> </a> </td>
                                <td>
                                    <%= results[i] %>
                                </td>
                                <td><a class="tlrefs" href=<%="/account/" + u_login + "/1/" + task.title.replace(' ',' %20') + "&all" %> >[все попытки]</a></td>
                            </tr>
                            <% }} %>
                </table>
            <% }else{ %>
                <% if(tournament.mods.find(item => item == login)){ %>
                    <h1 style="text-align: center;color:Red">Добавьте задачу</h1>
                <% }else if(registered){ %>
                        <h1 style="text-align: center;color:Red">Турнир ещё не начался</h1>
                <% }else{ %>
                    <h1 style="text-align: center;color:Red">Вы не зарегистрированы!</h1>
                <% }} %>
        </main>
        <div id="chat">
            <div id = "messages"></div>
            <% if(tournament.mods.find(item => item == login)){%>
                <textarea type="text" id="sendMessage" placeholder="Введите сообщение"></textarea>
            <% } %>
        </div>
        <p class="countDownTimer" id="countDownTimer" style="left: 5rem; right:auto; top:4rem"></p>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        if(!<%= tournament.isBegan %>){
            let countDownDate = new Date('<%= tournament.whenStarts.replace(' ', 'T') %>').getTime();
            var x = setInterval(function () {
                var now = new Date().getTime();

                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                if (days>0)
                    document.getElementById("countDownTimer").innerHTML = "Начало через "+ days + " дней "+ ("0"+hours).slice(-2) + ":"
                        + ("0"+minutes).slice(-2) + ":" + ("0"+seconds).slice(-2);
                else
                    document.getElementById("countDownTimer").innerHTML = "Начало через "+ ("0"+hours).slice(-2) + ":"
                        + ("0"+minutes).slice(-2) + ":" + ("0"+seconds).slice(-2);
                if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("countDownTimer").innerHTML = "Турнир начался! Обновите страницу";
                }
            }, 1000);
        }else{
            let countDownDate = new Date('<%= tournament.whenEnds.replace(' ', 'T') %>').getTime();
            var x = setInterval(function() {
                    var now = new Date().getTime();

                    var distance = countDownDate - now;

                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    if (days>0)
                        document.getElementById("countDownTimer").innerHTML = "Окончание через "+ days + " дней " + ("0"+hours).slice(-2) + ":"
                            + ("0"+minutes).slice(-2) + ":" + ("0"+seconds).slice(-2);
                    else
                        document.getElementById("countDownTimer").innerHTML = "Окончание через "+ ("0"+hours).slice(-2) + ":"
                            + ("0"+minutes).slice(-2) + ":" + ("0"+seconds).slice(-2);

                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("countDownTimer").innerHTML = "Окончен";
                    }
                }, 1000);
        }
        var socket = io();
        socket.emit("new user", {id: <%= ID %>, data:''})
        let out = document.getElementById("messages");
        let input = document.getElementById("sendMessage");
        if(input){
            input.addEventListener("keyup", (e)=>{
                if(e.keyCode==13 && !e.shiftKey){
                    if (input.value.trim()) {
                        socket.emit('chat message', {id: <%= ID %>, data: input.value.trim()});
                        input.value = '';
                    }
                }
            });
        }
        socket.on('chat message', function(msg) {
            var p = document.createElement('p');
            p.className = 'ChatMessage';
            p.textContent = msg
            messages.appendChild(p);
            messages.scrollTo(0, messages.scrollHeight);
        });
    </script>
</html>
