<!DOCTYPE html>
<html>
    <head>
        <title>Результаты турнира</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Результаты турнира <%= tournament.title %></h1>
            <% if(isModerator){ %>
                <h3 class="h3">Показывать учителей</h3>
                <label class="switch" >
                    <input type="checkbox" name="showTeachers" <% if(showTeachers) {%> checked <% } %>
                    onclick=<%= 'location.href=\"/tournament/results/'+ tournament.identificator + "/" + (Number(showTeachers)+1)%2 + "\"" %>>
                    <span class="slider round"></span>
                </label>
            <% } %>
            <table class='taskslist'>
                <tr>
                    <th>LOGIN</th>
                    <%  tournament.tasks.forEach(task => { %>
                        <th><a class="tlrefs" href=<%="/tournament/task/page/"+tournament.identificator  + '/' + task.identificator %>> <%= Number(task.identificator.split('_')[1])+1 %> </a></th>
                    <% }); %>
                    <th>Счёт</th>
                    <th>Время</th>
                </tr>
                <%results.sort((a, b) => {
                    if ((a[0].sumscore > b[0].sumscore)||((a[0].sumscore==b[0].sumscore)&&(a[0].sumtime<b[0].sumtime))) {
                        return -1;
                    }
                    else {
                        return 1;
                    }
                }); %>
                <% for(let i=0; i < results.length; i++) { %>
                    <tr>
                        <% let result = results[i][0]; %>
                        <% if(!results[i][1] || showTeachers){ %>
                            <% let loginToShow = result.login;
                            if(loginToShow.length > 2 && loginToShow.slice(0,2)=="n_"){
                                loginToShow = loginToShow.slice(2);
                            }
                            %>
                            <td><a class="tlrefs" href=<%="/account/"+ result.login  + '/1/default&all'%>><%= loginToShow %></a></td>
                            <% for(let j=0; j < result.tasks.length; j++) { %>
                                <% let task = result.tasks[j]; %>
                                <td><%= task.score %>(<%= task.tries %>)</td>
                            <% } %>
                            <td><%= result.sumscore %></td>
                            <td><%= result.sumtime %></td>
                        <% } %>
                    </tr>
                <% } %>
                <!--<% tournament.results.forEach(result => { %>
                    <tr>
                        <td><%= result.login %></td>
                        <% result.tasks.forEach(task => { %>
                            <td><%= task.score %>(<%= task.tries %>)</td>
                        <% }); %>
                        <td><%= result.sumscore %></td>
                        <td><%= result.sumtime %></td>
                    </tr>
                 <%  }); %>-->
            </table>
        </main>
</html>