<!DOCTYPE html>
<html>
    <head>
        <title>Турниры</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Турниры</h1>
            <% if (isTeacher){ %>
                <a class="tlrefs addhref" href="/tournament/add">[Добавить турнир]</a>
            <% } %>
            <form class="SearchUI" action= <%= '/tournaments/'+ u_login +'/1/default' %>  method="POST">
                <input name = "searcharea" rows=1 placeholder="Поиск турнира">
                <select name = "typeSelector">
                    <option value="all" selected>Все</option>
                    <option value="true_false">В процессе</option>
                    <option value="false_false">Ожидающие начала</option>
                    <option value="true_true">Завершенные</option>
                </select>
                <button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist'>
                <tr>
                    <th>Турнир</th>
                    <th>Автор</th>
                    <th>Вердикт</th>
                    <th>Начало</th>
                    <th>Окончание</th>
                    <th>Регистрация</th>
                    <th>Статус</th>
                  </tr>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% max = function(a,b){ if(a < b) return b; return a} %>
                <% var onPage = 20 %>
                <% for (var i = 0; i < tournaments.length; i++) { %>
                <% var tournament = tournaments[i]; %>
                 <tr>
                  <td> <a class="tlrefs" href=<%="/tournament/page/"+ u_login + "/" + tournament.identificator %>><%=tournament.title%></a> </td>
                  <td><%= tournament.author %></td>
                  <td><%= results[i] %></td>
                  <td class = "time"><%= tournament.whenStarts %></td>
                  <td class = "time"><%= tournament.whenEnds %></td>

                  <% let registered = tournament.results.find(item=>item.login==login);%>

                <% if(tournament.disqualificated.includes(login)){ %>
                    <td><a style="text-decoration: none; color: rgb(190, 60, 0);">Вы дисквалифицированы</a></td>
                <% }else if(!tournament.isBegan){ %>
                    <% if(!registered){ %>
                        <td><a style="text-decoration: none;" href=<%= "/regTournament/" + tournament.identificator %>>Регистрация</a></td>
                    <% } else { %>
                        <td><a style="text-decoration: none; color: rgb(76, 151, 0);">Вы зарегистрированы!</a></td>
                    <% } %>
                <% } else if(!tournament.isEnded) { %>
                    <% if(!registered){ %>
                        <% if(tournament.allowRegAfterStart){ %>
                            <td><a style="text-decoration: none;" href=<%= "/regTournament/" + tournament.identificator %>>Регистрация</a></td>
                        <% } else { %>
                            <td><a style="text-decoration: none; color: rgb(190, 60, 0);">Регистрация окончена</a></td>
                        <% } %>
                    <% } else { %>
                        <td><a style="text-decoration: none; color: rgb(76, 151, 0);">Вы зарегистрированы!</a></td>
                    <% } %>
                <% }else{ %>
                    <td><a style="text-decoration: none; color: rgb(190, 60, 0);">Регистрация окончена</a></td>
                <% } %>

                  <% if(!tournament.isBegan){ %>
                    <td> <a style="color: firebrick;">Ожидается</a> </td>
                  <% } else if(!tournament.isEnded) { %>
                        <td> <a style="color: rgb(34, 178, 65);">Проводится</a> </td>
                    <% }else{ %>
                        <td> <a style="color: Red;">Завершен</a> </td>
                    <% } %>
                 </tr>
                <% } %>
                </table>

                <div class='pageinfo'>
                    <div class="pageRefs"><%= pageInfo %></div>
                    <div class="pageRefs">
                        <% for(let i=0; i < pages; i++){ %>
                            <% if(i+1==page){ %>
                                <a class="tablerefs" style="font-size: 23px;font-weight:900;"><%= i+1 %></a>
                            <% }else{ %>
                                <a class="tablerefs" style="font-size: 20px;" href=<%= `/tournaments/${u_login}/${i+1}/${search}` %>><%= i+1 %></a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
        </main>
    </body>
</html>