<!DOCTYPE html>
<html>
    <head>
        <title>Турниры</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Турниры</h1>
            <% if (isTeacher){ %>
                <a class="tlrefs addhref" href="/addtournament">[Добавить турнир]</a>
            <% } %>
            <form class="SearchUI" action= <%= '/tournaments/'+ u_login +'/1/default' %>  method="POST">
                <input name = "searcharea" rows=1 placeholder="Поиск турнира"></input>
                <% if(isTeacher){ %>
                <% } %>
                <button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist'>
                <tr>
                    <th>ID</th>
                    <th>Турнир</th>
                    <th>Автор</th>
                    <th>Вердикт</th>
                    <th>Начало</th>
                    <th>Окончание</th>
                    <th>Статус</th>
                  </tr>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% max = function(a,b){ if(a < b) return b; return a} %>
                <% var onPage = 20 %>
                <% if(tournaments.length>0){ if(tournaments[0].identificator!=0){ tournaments.unshift([0]);results.unshift([0]) } } %>
                <% for (var i = (page-1)*onPage+1; i < min(page*onPage+1,tournaments.length); i++) { %>
                <% var tournament = tournaments[i]; %>
                 <tr>
                  <!--<td><%= tournament.identificator %></td> -->
                  <td><%= i %></td>
                  <td> <a class="tlrefs" href=<%="/tournament/"+ u_login + "/" + tournament.identificator %>> <%= tournament.title %> </a> </td>
                  <td><%= tournament.author %></td>
                  <td><%= results[i] %></td>
                  <td><%= tournament.whenStarts %></td>
                  <td><%= tournament.whenEnds %></td>
                  <% if(!tournament.isBegan){ %>
                    <% let registered = tournament.results.find(item=>item.login==login);%>
                    <% if(!registered){ %>
                        <td><a style="text-decoration: none;" href=<%= "/regTournament/" + tournament.identificator %>>Регистрация</a></td>
                    <% } else { %>
                        <td><a style="text-decoration: none; color: rgb(76, 151, 0);">Вы зарегистрированы!</a></td>
                    <% } %>
                  <% } else if(!tournament.isEnded) { %>
                        <td> <a style="color: firebrick;">Проводится</a> </td>
                    <% }else{ %>
                        <td> <a style="color: Red;">Завершен</a> </td>
                    <% } %>
                 </tr>
                <% } %>
                </table>

                <% var page = Number(page) %>
                <% var prevPage = page - 1 %>
                <% var nextPage = page + 1 %>

                <div class='pageinfo'>
                <div><%= ((page-1)*onPage+1).toString() + " - " +  min(page*onPage,max(0, tournaments.length-1)).toString() + " из " +  max(0, tournaments.length-1).toString() %> </div>

                <% if(page>1) { %>
                    <button onClick=<%= 'location.href=\"/tournaments/'+ u_login + "/" +prevPage + "/" + search + "\"" %>>&lt;&lt;&lt;</button>
                <% }else { %>
                    <button>&lt;&lt;&lt;</button>
                <% } %>
                <% if(page*onPage<tournaments.length-1) { %>
                    <button onClick=<%= 'location.href=\"/tournaments/'+ u_login + "/" +nextPage + "/" + search + "\"" %>>&gt;&gt;&gt;</button>
                <% }else { %>
                    <button>&gt;&gt;&gt;</button>
                <% } %>
                </div>
        </main>
    </body>
</html>