<!DOCTYPE html>
<html>
    <head>
        <title>Результаты турнира</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Посылки турнира "<%= title %>"</h1>
            <form class="SearchUI" action= <%= `/tournament/attempts/${tourID}/${"all&all&all"}` %>  method="POST">
                <input name="loginSearch" rows=1 type="text" placeholder="Поиск по логину">
                <input name="taskSearch" rows=1 placeholder="Поиск по задаче">
                <select name="selector" id = "selector">
                    <option value="all" selected>Все посылки</option>
                    <option value="ok" >Только успешные</option>
                </select>
                <button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist'>
                <tr>
                    <th>Login</th>
                    <th>Attempt</th>
                    <th>Task</th>
                    <th>Score</th>
                </tr>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% var onPage = 20 %>
                <% for(let i=(page-1)*onPage; i<min(page*onPage+1,attempts.length); i++){ let task = tasks.find(item => attempts[i].TaskID == item.identificator) %>
                <tr>
                    <td><a href=<%= "/account/"+attempts[i].login+"/1/default&all" %> ><%= attempts[i].login  %></a></td>
                    <td><a href=<%= "/attempt/"+attempts[i].login+"/"+attempts[i].AttemptDate %> >[Посылка]</a></td>
                    <td><a href=<%= "/tournament/task/"+tourID+"/"+tasks[i].identificator %> ><%= tasks[i].title %></a></td>
                    <td><%= attempts[i].score  %></td>
                </tr>
                <% } %>
            </table>

            <% var page = Number(page) %>
            <% var prevPage = page - 1 %>
            <% var nextPage = page + 1 %>

            <div class='pageinfo'>
                <div><%= ((page-1)*onPage+1).toString() + "-" +  min(page*onPage,tasks.length-1).toString() + " из " +  (tasks.length-1).toString() %> </div>

                <% if(page>1) { %>
                    <button onClick=<%= 'location.href=\"/tournament/attempts/'+ tourID + "/" + prevPage + "/" + search + "\"" %>>&lt;&lt;&lt;</button>
                <% }else { %>
                    <button>&lt;&lt;&lt;</button>
                <% } %>
                <% if(page*onPage<tasks.length-1) { %>
                    <button onClick=<%= 'location.href=\"/tournament/attempts/'+tourID + "/" + nextPage + "/" + search + "\"" %>>&gt;&gt;&gt;</button>
                <% }else { %>
                    <button>&gt;&gt;&gt;</button>
                <% } %>
                </div>
        </main>
    </body>
</html>