<header>
  <div id="outer">
    <div class="navigationButtons">
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO"><img id="Logo"
          src="/public/media/Logo.svg" alt="ACCEPT"></a>
      <% if (name){ %>
        <% if(login.slice(0, 2) !="n_" ){ %>
          <button onClick='location.href="/"'><img src="/public/media/main.svg">Главная</button>
          <button onClick='location.href="/tasks/1/default&all&all&false&all"'><img
              src="/public/media/task.svg">Задачи</button>
          <button onClick=<%='location.href=\"/lessons/' + login + "/1/default&all&true&all" + "\"" %>> <img src="
            /public/media/lesson.svg">Уроки</button>
          <button onClick=<%='location.href=\"/tournaments/' + login + "/1/default&all&all" + "\"" %>> <img src="
            /public/media/tournament.svg">Турниры</button>
          <%if (isTeacher){ %>
            <button onClick='location.href="/students/1/default&all&all&all"'><img
                src="/public/media/students.svg">Ученики</button>
            <% } %>
              <% }else{ %>
                <button onClick='location.href="/"'><img src="/public/media/main.svg">Главная</button>
                <button onClick=<%='location.href=\"/tournaments/' + login + "/1/default&all&all" + "\"" %>> <img src="
                  /public/media/tournament.svg">Турниры</button>
                <% } %>
                  <button onClick='location.href="/report"'><img src="/public/media/report.svg">Обратная связь</button>
                  <button onClick='location.href="/about"'><img src="/public/media/information.svg">О проекте</button>

                  <%if (title.slice(0,4)=="Egg2" ){ %>
                    <button>Maze by Melaveetha & Dsomni</button>
                    <button>W;A;S;D;P</button>
                    <% } %>
                      <% } %>
    </div>
    <div class='loginInterface'>
      <% if (!name){ %>
        <div style="display: flex; justify-content: flex-end; flex-direction: row; align-items: flex-end;">
          <form action="/" method="POST">
            <input type="login" name="login" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
          </form>
          <button onclick='location.href="/registration"'>Регистрация</button>
        </div>
        <% } else { %>
          <% if(name.indexOf(" ")!=-1){%>
                    <% var arrname = name.split(" ")%>
                    <% var strname = arrname[0]+" "%>
                    <% for(let i=1;i<arrname.length;i++){strname+=arrname[i][0]+" . "}%>
                <%} else{var strname = name} %>
                <button onClick='location.href=" <%='/account/' + login +'/1/default&all' %>"'><img
              src="/public/media/account.svg">
            <%= strname %></button>

              <form action='/logout?_method=DELETE' method='POST'>
                <button type='submit'><img src="/public/media/logout.svg">Выйти</button>
              </form>
              <% } %>
    </div>
  </div>
</header>
<% if (location){ %>
  <button
    style="position: absolute; top: 0px; left: 65px;background-color: Transparent;background-repeat:no-repeat;border: none;"
    onClick=<%='location.href=' +"\""+location+"\"" %>><img style=" width: 40px;" src="/public/media/back.svg"></button>
  <% } %>
