<header>
    <div id="outer">
        <div class="navigationRefs">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO"><img id="Logo" src = "/public/media/Logo.svg" alt="ACCEPT"></a>

        <% if (name){ %>
            <%  if(login.slice(0, 2) != "n-"){  %>
                <a class="nav" href='/'><img class="icons" src="/public/media/main.svg">Главная</a>
                <a class="nav" href='/tasks/1/default&all&all&false&all'><img class="icons" src="/public/media/task.svg">Задачи</a>
                <a class="nav" href=<%=`/lessons/${login}/1/default&all&true&all`%> ><img class="icons" src="/public/media/lesson.svg">Уроки</a>
                <a class="nav" href=<%=`/tournaments/${login}/1/default&all&all`%> ><img class="icons" src="/public/media/tournament.svg">Турниры</a>
                <a class="nav" href='/rating/1'><img class="icons" src="/public/media/rating.svg">Рейтинг</a>
            <% }else{ %>
                <a class="nav" href='/'><img class="icons" src="/public/media/main.svg">Главная</a>
                <a class="nav" href=<%=`/tournaments/${login}/1/default&all&all`%> ><img class="icons" src="/public/media/tournament.svg">Турниры</a>
                <% } %>
            <a class="nav" href='/report'><img class="icons" src="/public/media/report.svg">Обратная связь</a>
            <% if(isTeacher){ %>
                <button onclick="hideShow()" class="navbutton"><img class="icons" src="/public/media/teacher.svg">Учителям<arrow id="toTeacherArrow"" class="arrow right" style="padding: 1px; border: solid #1d84fa; border-width: 0 2px 2px 0; height: 4px; width:4px;"></arrow></button>
                <div id="hideable" style="display: none;">
                    <a class="nav" href='/students/1/default&all&all&all'><img class="icons" src="/public/media/students.svg">Ученики</a>
                    <a class="nav" href='/service/panel/CONFIGS'><img class="icons" src="/public/media/settings.svg">Разработчикам</a>
                    <a class="nav" href='/help' style="margin-bottom: 0px;"><img class="icons" src="/public/media/help.svg">Справка</a>
                </div>
            <% } %>
            <a class="nav" href='/about' id="navLast"><img class="icons" src="/public/media/information.svg">О проекте</a>

            <%if (title.slice(0,4)=="Egg2"){  %>
                <button>Maze by Melaveetha & Dsomni</button>
                <button>W;A;S;D;P</button>
            <% } %>
        <% } %>
        </div>
        <div class = 'loginInterface'>
            <% if (!name){ %>
                <span style="display: flex; justify-content: flex-end; flex-direction: row; align-items: flex-end;">
                    <form action="/" method="POST">
                        <input type="login" name="login" placeholder="Логин" required>
                        <input type="password" name="password" placeholder="Пароль" required>
                        <button class="loginInterfaceButton" type="submit">Войти</button>
                    </form>
                    <button class="loginInterfaceButton" onclick='location.href="/registration"' >Регистрация</button>
                </span>
            <% } else { %>
                <% if(name.indexOf(" ")!=-1){%>
                    <% var arrname = name.split(" ")%>
                    <% var strname = arrname[0]+" "%>
                    <% for(let i=1;i<arrname.length;i++){strname+=arrname[i][0]+". "}%>
                <%} else{var strname = name} %>
                <% if(isTeacher){ %>
                    <a class="nav" href=<%= `/account/${login}/1/default&all` %>><img class="icons" src="/public/media/accountTeacher.svg"><%= strname %></a>
                <% } else{ %>
                    <a class="nav" href=<%= `/account/${login}/1/default&all` %>><img class="icons" src="/public/media/account.svg"><%= strname %></a>
                <% } %>

                <form action = '/logout?_method=DELETE' method = 'POST'>
                    <button class="loginInterfaceButton" type = 'submit'><img class="icons" src="/public/media/logout.svg">Выйти</button>
                </form>
            <% } %>
        </div>
    </div>
</header>
<% if (location){ %>
    <button style="position: absolute; top: 0px; left: 65px; background-color: transparent; background-repeat:no-repeat; border: none;" onClick=<%= `location.href="${location}"` %> ><img style=" width: 40px;" src="/public/media/back.svg"></button>
<% } %>
<script>
    let drop = document.getElementById("hideable");
    let arrow = document.getElementById("toTeacherArrow");
    let outer = document.getElementById("outer");
    if(<%= !name %>)
        outer.style.minHeight = "0";
    function hideShow(){
        if(drop.style.display == "block"){
            drop.style.display = "none";
            arrow.classList.remove("down");
            arrow.classList.add("right");
            outer.style.minHeight = "800px";
        }else{
            drop.style.display = "block";
            arrow.classList.remove("right");
            arrow.classList.add("down");
            outer.style.minHeight = "950px";
        }
    }
</script>
