<!DOCTYPE html>
<html>
    <head>
        <title>Контрольная работы #<%= quiz.identificator %>
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
                maximum-scale=1.0, minimum-scale=1.0,
                user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">
        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
    </head>

    <body>
        <main>
            <div id="task">
                <H1 id="taskname"><%= quiz.title; %></H1>
                <div style="text-align: center;margin: 5%;">
                    <% if(isTeacher){ %>
                        <% if(quiz.template){ %>
                            <span class="tourPopup">
                            <dialog  id='start'>
                                <form action=<%=`/quiz/start/${quiz.identificator}` %>  method="POST">
                                    <h3>Класс</h3>
                                    <input type="text" name="grade" id="grade" style="width: 3rem;">
                                    <button>Да</button>
                                </form>
                                <button onClick='c("start");'>Назад</button>
                            </dialog>
                            <button onClick='o("start");' class="show EditButtons" style="background-color: transparent;">Начать</button>
                            </span>
                        <% } %>
                        <a class="EditButtons" href=<%=`/quiz/edit/${quiz.identificator}` %> >Редактировать</a>
                        <span class="tourPopup">
                            <dialog  id='delete'>
                                <form action= <%="/quiz/delete/" + quiz.identificator %>  method="POST">
                                    Вы действительно хотите удалить работу "<%= quiz.title %>" ?
                                    <button>Да</button>
                                </form>
                                <button onClick='c("delete");'>Назад</button>
                            </dialog>
                            <button onClick='o("delete");' class="show EditButtons" style="background-color: transparent;">Удалить</button>
                        </span>
                        <% if(!quiz.isBegan) { %>
                                <a class="EditButtons" href=<%="/quiz/task/add/" + quiz.identificator %> >Добавить задачу</a>
                        <% } %>
                        <a class="EditButtons" href=<%= "/quiz/attempts/"+quiz.identificator+"/1/all&all&all&true" %> >Посылки</a>
                    <% } %>
                    <a class="EditButtons" href=<%= "/quiz/results/"+quiz.identificator %>>Таблица результатов</a>
                </div>
                <h4 class="h4">Автор: <%= quiz.author %>     Участники: <%= quiz.results.length %> </h4>
                <div style="margin-left: 20px;" id="statement">
                    <%= quiz.description %>
                </div>
            </div>
            <div id="table"></div>
        </main>
    </body>
    <script>
        function o(id) {
            document.getElementById(id).showModal();
        }
        function c(id) {
            document.getElementById(id).close();
        }
    </script>
</html>
